-#  This file is app/views/movies/index.html.haml
-#  %th= link_to"Movie Title", :sort => "title"
-#  %th= link_to "Release Date", :sort => "release_date"

-# %h1= link_to "All Movies", "/movies?sort=title"
%h1
  %a{:title => "sort movies by title", :href => "/movies?sort=title"} All movies

-# sorting table form elements
= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  = hidden_field_tag "title_sort", true if @sorted_by_title
  = hidden_field_tag ":release_date_sort", true if @sorted_by_date
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating), :id => "ratings_#{rating}"
  = submit_tag 'Push to Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      -# %th{:class => ("hilite" if params[:sort] == "title")}
      %th{:class => ( params[:sort] == "title" ? "hilite" : "")}
        %a{:href=>"/movies?sort=title", :id=>"title_header"}
          Movie Title
      %th Rating
      -# %th{:class => ("hilite" if params[:sort] == "release_date")}
      %th{:class => ( params[:sort] == "release_date" ? "hilite" : "")}
        %a{:href=>"/movies?sort=release_date", :id=>"release_date_header"}
          Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
