!!! 5
%html
  %head
    %title Rotten Potatoes!  - Kaputte Kartoffeln
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    -# %h1.title Rotten Potatoes! Kaputte Kartoffeln
    -# pipe char allows multiline
    %h1.title
      %a{:title => "Rotten Tomatoes homepage", |
         :href => "/movies?sort=title"} Rotten Potatoes! Kaputte Kartoffeln
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
